<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Login page</title>
    <link th:href="@{/css/login.css}" rel="stylesheet">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
</head>
<body>
    <div class="container d-flex justify-content-center align-items-center">

        <form th:action="@{/perform_login}" method="post">
            <h1>Login page</h1>
            <p class="text-primary" th:text="${message}"></p>
            <p class="text-danger" th:text="${error}"></p>
            <label for="username">Username</label>:
            <input type="text" id="username" name="username" autofocus="autofocus" /> <br />
            <label for="password">Password</label>:
            <input type="password" id="password" name="password" /> <br />
            <input type="submit" class="btn btn-primary" value="Log in" />
            <a th:href="@{/}" class="btn btn-info">Back</a>
        </form>

    </div>
</body>
</html>