<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Sign Up</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
</head>
<body>
    <div class="container d-flex justify-content-center align-items-center">
            <form action="#" th:action="@{/signup}" th:object="${registrationDetails}" method="post">
                <h1>Form</h1>
                <p>Username: <input type="text" th:field="*{username}" /></p>
                <p>Password: <input type="password" th:field="*{password}" /></p>
                <p>First Name: <input type="text" th:field="*{firstName}" /></p>
                <p>Last Name: <input type="text" th:field="*{lastName}" /></p>
                <p class="text-danger" th:text="${error}"></p>
                <p><input class="btn btn-primary" type="submit" value="Submit" />
                    <input class="btn btn-warning" type="reset" value="Reset" /></p>
                <a th:href="@{/}" class="btn btn-info">Back</a>
            </form>
    </div>
</body>
</html>