<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Sign Up</title>
    <link th:href="@{/css/core.css}" rel="stylesheet">
    <link th:href="@{/css/buttons.css}" rel="stylesheet">
    <link rel="shortcut icon" href="#">
    <link rel="preconnect" href="https://fonts.gstatic.com" />
    <link
            href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&display=swap"
            rel="stylesheet"
    />
    <!--jQuery-->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.0.0/jquery.min.js"></script>
    <!--jQuery Modal -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-modal/0.9.1/jquery.modal.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery-modal/0.9.1/jquery.modal.min.css" />
</head>
<body>
<script th:inline="javascript">
/*<![CDATA[*/

$(document).ready(function(){
    var message = [[${message}]];

    if ( message != null) {
        $('.message-modal').modal();
    }

});

/*]]>*/
</script>
<main>
    <section class="glass">
        <div class="dashboard">
            <div class="status">
                <form action="#" th:action="@{/signup}" th:object="${registrationDetails}" method="post">
                    <h1 class="signup-header">SignUp Page</h1>
                        <h3 style="margin-left:2.4em">
                            <label for="email">Email</label>:
                            <input class="input-signup" type="text" id="email" name="email" th:field="*{email}" autofocus="autofocus" />
                            <label class="label-margin" for="password">Password</label>:
                            <input class="input-signup" type="password" id="password" name="password" th:field="*{password}"/>
                        </h3>
                            <br/>
                        <h3>
                            <label for="firstName">First Name</label>:
                            <input class="input-signup" type="text" id="firstName" name="firstName" th:field="*{firstName}" />
                            <label class="label-margin" for="lastName">Last Name</label>:
                            <input class="input-signup" type="text" id="lastName" name="lastName" th:field="*{lastName}" />
                        </h3>
                    <div>
                        <input class="back-button" type="button" onclick="window.location='/';"  value="Back" />
                        <input class="sign-button" type="submit" value="Submit" />
                    </div>
                </form>
            </div>
        </div>
    </section>
</main>
    <div class="circle1"></div>
    <div class="circle2"></div>

<div class="message-modal" style="background: linear-gradient(to right top, #6dd8c4, #6cdbeb);text-align:center">
    <p th:text="${message}" style="color: #EA3727;
                                    margin-bottom: 15px;
                                    font-size: 18px;
                                    font-weight: bold;"></p>
</div>
</body>
</html>