<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Add Book</title>
    <link th:href = "@{/css/core.css}" rel="stylesheet">
    <link th:href = "@{/css/modal.css}" rel="stylesheet">
    <link th:href = "@{/css/styled-table.css}" rel="stylesheet">
    <link th:href = "@{/css/navbar.css}" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css" integrity="sha512-HK5fgLBL+xu6dm/Ii3z4xhlSUyZgTT9tuc/hSrtw6uzJOvgRr2a9jyxxT1ely+B+xFAmJKVSTbpM/CuL7qxO8w==" crossorigin="anonymous" />
    <!--Fonts-->
    <link rel="preconnect" href="https://fonts.gstatic.com" />
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&display=swap" rel="stylesheet"/>
</head>
<body>
<main>
    <header th:replace="fragments :: navbarLibrarian"></header>
        <section class="glass">
            <div class="dashboard">
                <div class="status">
                    <form action="#" th:action="@{/books/add/writtenBy/{authorId}
                            (authorId= ${author.data.authorId})}" th:object="${book}" method="post">

                        <h3>
                            <label for="title">Title</label>:
                            <input class="inputlabel" type="text" id="title" name="title" th:field="*{title}" autofocus="autofocus" />
                        </h3>
                        <h3>
                            <label for="ISBN">ISBN</label>:
                            <input class="inputlabel" type="text" id="ISBN" name="ISBN" th:field="*{ISBN}"  />
                        </h3>
                        <h3>
                            <label for="pages">Pages</label>:
                            <input class="inputlabel" type="text" id="pages" name="pages" th:field="*{pages}"  />
                        </h3>
                        <h3>
                            <label for="publishedYear">Published Year</label>:
                            <input class="inputlabel" type="text" id="publishedYear" name="publishedYear" th:field="*{publishedYear}"  />
                        </h3>
                        <h3>
                            <label for="summary">Summary</label>:
                            <input class="inputlabel" type="text" id="summary" name="summary" th:field="*{summary}" />
                        </h3>

                        <input class="navButton" type="submit" value="Submit" />
                        <input class="navButton" type="reset" value="Reset" />
                    </form>
                </div>
            </div>
    </section>
</main>
</body>
</html>