<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Add Author</title>
    <!--CSS-->
    <link th:href = "@{/css/core.css}" rel="stylesheet">
    <link th:href = "@{/css/modal.css}" rel="stylesheet">
    <link th:href = "@{/css/styled-table.css}" rel="stylesheet">
    <link th:href = "@{/css/navbar.css}" rel="stylesheet">
    <link th:href = "@{/css/add.css}" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css" integrity="sha512-HK5fgLBL+xu6dm/Ii3z4xhlSUyZgTT9tuc/hSrtw6uzJOvgRr2a9jyxxT1ely+B+xFAmJKVSTbpM/CuL7qxO8w==" crossorigin="anonymous" />
    <!--Fonts-->
    <link rel="preconnect" href="https://fonts.gstatic.com" />
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&display=swap" rel="stylesheet"/>
</head>
<body>
<main>
    <header th:replace="fragments :: navbarLibrarian"></header>
    <section class="glass">
        <div class="dashboard">
            <form action="#" th:action="@{/authors/add}" th:object="${author}" method="post">
                <h3>
                    <label for="email">Email</label>:
                    <input class="inputlabel" type="text" id="email" name="email" th:field="*{email}" autofocus="autofocus" />
                </h3>
                <h3>
                    <label for="firstName">First Name</label>:
                    <input class="inputlabel" type="text" id="firstName" name="firstName" th:field="*{firstName}" autofocus="autofocus" />
                </h3>
                <h3>
                    <label for="lastName">Last Name</label>:
                    <input class="inputlabel" type="text" id="lastName" name="lastName" th:field="*{lastName}" autofocus="autofocus" />
                </h3>
                <input class="resetButton" type="reset" value="Reset" />
                <input class="signButton" type="submit" value="Submit" />
            </form>
        </div>
    </section>
</main>
<!--<div class="container my-2">-->
<!--    <h1>Form</h1>-->
<!--    <form action="#" th:action="@{/authors/add}" th:object="${author}" method="post">-->
<!--        <p>Email: <input type="text" th:field="*{email}" /></p>-->
<!--        <p>First Name: <input type="text" th:field="*{firstName}" /></p>-->
<!--        <p>Last Name: <input type="text" th:field="*{lastName}" /></p>-->
<!--        <p><input class="btn btn-success" type="submit" value="Submit" />-->
<!--            <input class="btn btn-warning" type="reset" value="Reset" /></p>-->
<!--    </form>-->
<!--    <a th:href="@{/}" class="btn btn-primary">Back</a>-->
<!--</div>-->
</body>
</html>