<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>All authors</title>
    <!--CSS-->
    <link th:href = "@{/css/core.css}" rel="stylesheet">
    <link th:href = "@{/css/modal.css}" rel="stylesheet">
    <link th:href = "@{/css/styled-table.css}" rel="stylesheet">
    <link th:href = "@{/css/navbar.css}" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css" integrity="sha512-HK5fgLBL+xu6dm/Ii3z4xhlSUyZgTT9tuc/hSrtw6uzJOvgRr2a9jyxxT1ely+B+xFAmJKVSTbpM/CuL7qxO8w==" crossorigin="anonymous" />
    <!--Fonts-->
    <link rel="preconnect" href="https://fonts.gstatic.com" />
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&display=swap" rel="stylesheet"/>
</head>
<body>
<main>
    <header th:replace="fragments :: navbarLibrarian"></header>
    <section class="glass" style="display: flex;flex-direction: column" >
        <table class="styled-table">
            <caption>Who wrote it?</caption>
            <thead>
            <tr>
                <th scope="col">Email</th>
                <th scope="col">First Name</th>
                <th scope="col">Last Name</th>
                <th scope="col">Choose</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="author : ${authors.data}">
                <td th:text="${author.email}"></td>
                <td th:text="${author.firstName}"></td>
                <td th:text="${author.lastName}"></td>
                <td ><a class="button-table" th:href="@{/books/add/writtenBy/{authorId}
                (authorId= ${author.authorId})}">Choose</a></td>
            </tr>
            </tbody>
        </table>
    </section>
</main>
</body>
</html>