<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>All authors</title>
    <script type="text/javascript" th:src = "@{/js/actions.js}"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
</head>
<body>
<div class="container">
    <div>Who wrote it</div>
    <table class="table table-striped table-responsive-md">
        <thead>
        <tr>
            <th scope="col">Email</th>
            <th scope="col">First Name</th>
            <th scope="col">Last Name</th>
            <th scope="col">Choose</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="author : ${authors.data}">
            <td th:text="${author.email}"></td>
            <td th:text="${author.firstName}"></td>
            <td th:text="${author.lastName}"></td>
            <td ><a class="btn btn-primary" th:href="@{/books/add/writtenBy/{authorId}
            (authorId= ${author.authorId})}">Choose</a></td>
        </tr>
        </tbody>
    </table>
    <a th:href="@{/}" class="btn btn-primary">Back</a>
</div>
</body>
</html>