.navButton,
.logOutButton{
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 18px;
    font-weight:bold;
    border-radius: 12px;
    cursor: pointer;
    text-align: justify;
}

.logoContainer{
    flex:1
}

.navButton {
    background: linear-gradient(to right top, #65df84, #65dfc9);
    margin-left: 30px;
}

.logoContainer,
.logOutButton,
nav{
    display: flex;
}

.logo {
    color: #2f7ea6;
    margin: 5px;
}

.logOutContainer {
    align-content: flex-end;
    margin:5px;
    flex:1
}

.logOutButton {
    background: linear-gradient(to right top, #ff6340, #65dfc9);
    float:right;
}

nav {
    flex: 2;
    justify-content: space-around;
}

header{
    display:flex;
}

.styled-table {
    width: 100%;
    height: 100%;
    border-collapse: collapse;
    font-size: 1em;
    font-weight:bold;
    min-width: 400px;
}

.styled-table thead tr {
    color: #ffffff;
    text-align: left;
    background-color: #009879;
}

.styled-table th,
.styled-table td {
    padding: 12px 15px;
}

.styled-table td {
    width: 20%
}

.styled-table tbody tr:nth-of-type(even) {
    background-color: #f3f3f3;
}


.styled-table tbody tr.active-row {
    font-weight: bold;
    color: #009879;
}

.borrowText{
    color: #426696;
    font-weight: 600;
    font-size: 20px;
    opacity: 0.8;
    text-align:center;
}
