.logo-container {
    flex:1
}

.logout-container {
    align-content: flex-end;
    margin:5px;
    flex:1
}

nav {
    flex: 2;
    justify-content: space-around;
}

.logo-container,
nav {
    display: flex;
}

.logout-button,
.nav-button {
    border: none;
    color: white;
    text-decoration: none;
    display: inline-block;
    font-size: 18px;
    font-weight:bold;
    cursor:pointer;
    border-radius: 0.5em;
    padding: 12px;
}

.logout-button {
    float: right;
    background: linear-gradient(to right top, #6cdae0, #65dfc9);
}

.nav-button {
    background: linear-gradient(to right top, #65df84, #65dfc9);
}

.logo {
    color: #2f7ea6;
    margin: 5px;
}
