<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Fragments</title>
</head>
<body>
    <header th:fragment="navbar">
         <a class="logoContainer" th:href="@{/main.html}" style="display:block;">
             <i class="fas fa-book fa-3x logo"></i>
         </a>
        <nav>
                <a class="navButton" th:href="@{/libraries/librariesToBorrowFrom}">Borrow </a>
        </nav>
        <div class="logOutContainer" >
            <a class="logOutButton" th:href="@{/perform_logout}" >Logout</a>
        </div>
    </header>

    <header th:fragment="navbarLibrarian">
        <a class="logoContainer" th:href="@{/main.html}" style="display:block;">
            <i class="fas fa-book fa-3x logo"></i>
        </a>
        <nav>
            <a class="navButton" th:href="@{/books/booksToAddToLibrary/libraries/{id}(id= ${#authentication.name})}">Add Book</a>
            <a class="navButton" th:href="@{/authors/add}">Add Author</a>
        </nav>
        <div class="logOutContainer" >
            <a class="logOutButton" th:href="@{/perform_logout}" >Logout</a>
        </div>
    </header>

    <div th:fragment="modal" id="ex1" class="modal">
        <div class="container">
            <div class="title" ></div>
            <div class="author"></div>
            <div class="isbn" ></div>
            <div class="year" ></div>

            <div class="summary">
                <div style="float:left" th:text="'Summary: '"></div>
                <div class="summary-data" ></div>
            </div>
        </div>
    </div>
</body>
</html>