

<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"  xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
    <meta charset="UTF-8">
    <title>Fragments</title>
</head>
<body>
    <header th:fragment="navbar">
         <a class="logoContainer" th:href="@{/main.html}" style="display:block;">
             <i class="fas fa-book fa-3x logo"></i>
         </a>
        <nav>
                <a class="navButton" th:href="@{/libraries/librariesToBorrowFrom}">Borrow </a>
        </nav>
        <div class="logOutContainer" >
            <a class="logOutButton" th:href="@{/perform_logout}" >Logout</a>
        </div>
    </header>
</body>
</html>