<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>My Library App</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
</head>
<body>
    <div class="container my-2">
        <div class="container my-2">
            <a th:if="${session.loggedUser} != null" th:href="@{/mybooks}" class="btn btn-primary">My Books</a>
            <a th:if="${session.loggedUser} != null" th:href="@{/libraries}" class="btn btn-primary">Borrow Book</a>
            <a th:if="${session.loggedUser} != null" th:href="@{/logout}" class="btn btn-primary">Logout</a>
            <a th:if="${session.loggedUser} == null" th:href="@{/signup}" class="btn btn-primary">Sign Up</a>
            <a th:if="${session.loggedUser} == null" th:href="@{/login}" class="btn btn-primary">Login</a>
        </div>
        <div class="p-3 mb-2 bg-secondary text-white" th:if="${message} != null">
            <p  th:text="${message}"  ></p>
        </div>
    </div>

    <div class="panel panel-default" style="position: absolute;bottom: 20px;right:5px;">
        <a th:if="${session.loggedUser} != null" th:href="@{/users}" class="btn btn-primary">Show all users</a>
        <a th:if="${session.loggedUser} != null" th:href="@{/books}" class="btn btn-primary">Show all books</a>
    </div>
</body>
</html>